/* CSS BY Caitlin Garcia */

/* IMPORTED FONTS */
@import url(https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap);

/* CSS RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html, body {
    height: 100%;
}

img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

/* ROOT VARIABLES */

:root {
    --white: #ffffff;
    --dark-gray: #1E1E1E;
    --teal: #4ca7c0;
    --lavender: #6BBFE7;
    --purple: #484BF7;
    --pink: #D9526F;
    --yellow: #e9bb57

    --fonts: "Kavoon", "Inter", sans-serif;

    

}

/* GLOBAL STYLES (mobile first/small) */

body {
    font-family: "Kavoon", "Inter", sans-serif;
    color: var(--white);
    margin: 0;
    background-color: var(--lavender);
}

header, main, footer {
    width: 450px;
    margin: 0 auto;
    padding: 1rem;
    background-color: var(--purple);
}

main {
    margin: auto;
}

h1 {
    width: 400x;
    font-family: "Kavoon";
    font-size: 1.75rem;
    color: var(--white);
    background-color: var(--purple);
}

h2 {
   
}

h3 {
   
}

h4 {
    
}

main > section {

}


div > section {

}

table {

}

img {

}

footer {
    
}